.header-flat-details {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 0;
}

.header-flat-owner {
  width:80px;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.header-flat-name {
padding-left: 119px;
font-size: 14px;
margin-top: -69px;
}

.header-flat-name h1 {
  font-size:18px;
}

.header-flat-owner p {
  padding-left: 38px;
  width: 200px;
  margin-left: -40px;

}

p {
  margin: 0 0 12.5px;
  display:block;
}
